# Original game/runtime files are not redistributed in this public repo.
gorillaz_final_drive.exe
dirapi.dll
iml32.dll
DDraw.dll
D3DImm.dll
dgVoodoo.conf
xtras/
GameTemp/

# Local clutter
*.log
Thumbs.db
.DS_Store
